@page "/"
<PageTitle>Home</PageTitle>

<div class="home-container">
    <main class="content">
        <section class="welcome-banner">
            <h1>Bem-vindo à Furia-Sports</h1>
            <p>Um site feito para você, fã da FURIA E-SPORTS, ficar sempre atualizado com as notícias sobre o nosso grandioso time.</p>
            <p>Este site é um protótipo de uma plataforma de notícias para manter os fãs conectados com o time de forma centralizada.</p>
        </section>
        
        <div class="project-info">
                        <a href="https://github.com/GuiAugus/FuriaAPP" target="_blank" class="readme-link">Conheça o projeto</a>
        </div>
    </main>
</div>